// 间距基础倍数
$uni-space-root: 4 !default;

@mixin fn($space, $direction, $size, $n) {
  @if $n {
    #{$space}-#{$direction}: #{$size * $uni-space-root}px;
  } @else {
    #{$space}-#{$direction}: #{-$size * $uni-space-root}px;
  }
}

@mixin get-styles($direction, $i, $space, $n) {
  @if $direction == t {
    @include fn($space, top, $i, $n);
  }
  @if $direction == r {
    @include fn($space, right, $i, $n);
  }
  @if $direction == b {
    @include fn($space, bottom, $i, $n);
  }
  @if $direction == l {
    @include fn($space, left, $i, $n);
  }
  @if $direction == x {
    @include fn($space, left, $i, $n);
    @include fn($space, right, $i, $n);
  }
  @if $direction == y {
    @include fn($space, top, $i, $n);
    @include fn($space, bottom, $i, $n);
  }
  @if $direction == a {
    @if $n {
      #{$space}: #{$i * $uni-space-root}px;
    } @else {
      #{$space}: #{-$i * $uni-space-root}px;
    }
  }
}

@each $orientation in m, p {
  $space: margin;
  @if $orientation == m {
    $space: margin;
  } @else {
    $space: padding;
  }
  @for $i from 0 through 16 {
    @each $direction in t, r, b, l, x, y, a {
      .#{$orientation}#{$direction}-#{$i} {
        @include get-styles($direction, $i, $space, true);
      }
      .#{$orientation}#{$direction}-n#{$i} {
        @include get-styles($direction, $i, $space, false);
      }
    }
  }
}

page{font-size:14px;color:$u-main-color;background-color: $u-bg-color;}

view,text {box-sizing: border-box;}

.w-full {width: 100%;}

.h-full {height: 100%;}

.full {width: 100%;height: 100%;}

.text-xss {font-size: 10px;}

.text-xs {font-size: 12px;}

.text-smm {font-size: 13px;}

.text-sm {font-size: 14px;}

.text-md {font-size: 16px;}

.text-lg {font-size: 18px;}

.text-xl {font-size: 22px;}

.text-bold {font-weight: 600;}

.bg-white{background-color: $u-white;}

.bg-gray{background-color: $u-bg-color;}

.shadow-sm{box-shadow: 0 0 5px rgba($color: #d8d8d8, $alpha: 0.5);}

.shadow-base{box-shadow: 0 1px 8px 1px rgba($color: #a5a5a5, $alpha: 0.2);}

.shadow-lg{box-shadow: 0px 1px 10px 2px rgba($color: #a5a4a4, $alpha: 0.5);}

.shadow-top{box-shadow: 0 -2px 4px -2px rgba($color: #a5a5a5, $alpha: 0.2);}

